body {
    background-color: #ddd;
    padding: 0;
    margin: 0;
    font-family: "Franklin gothic"
}

h1 {
    margin: 0;
    color: white;
    /* width: 100%; */
    background-color: #558;
    padding: 2px;
    padding-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.flexgroup {
    display: flex;
    margin: 5px;
    font-size: 22px;
    /* width: 45%; */
    /* align-content: start; */
    text-align: left;
    /* align-items: stretch; */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.flexlabel {
    /* flex: 1; */
    flex-shrink: 1;
    width:  200px;
}

.flexpad {
     flex: 1; 
    flex-grow: 2;
    width:  200px;
}

.flexoption {
    flex: 1;
    align-self: flex-start;
    height: 32px;
    width: 23px;
    font-size: 20px;
    border-radius: 5px;
    border-width: 0;
}

.textarea {
    height: unset;
}

input {
    width: 23px;
    height: 23px;
}

select {
    /* font-size: 23px; */
}